<section>
  <table class='table table-striped  table-bordered table-hover'>
    <caption>Lista de Contratos</caption>
    <thead>
      <tr>
        <th>Número</th>
        <th>Cliente</th>        
        <th>Período</th>        
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
       <tr>
         <td><%=link_to contract.number, contract %></td>
         <td><%= contract.customer %></td>
         <td><%= contract.period_format %></td>
         <td><%= number_to_currency(contract.price) %></td>
       </tr>       
      <% end %>   
    </tbody>
  </table>
</section>
