<section>
  <div class="panel panel-default">
    <div class="panel-heading">Orçamentos</div>
    <div class="panel-body">
      <table class="table table-striped">
        <th> Nome </th>
        <th> Email </th>
        <th> Data </th>
        <% @proposals.each do |proposal| %>
          <tr>
            <td> <%= link_to proposal.name, proposal %> </td>
            <td> <%= proposal.email %> </td>
            <td> <%= l proposal.created_at, format: :short %> </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</section>
