<section>
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      Detalhe do Contrato
    </div>
    <div class="panel-body">
      <dl>
        Eu, <%= @receipt.contract.contact %>

      </dl>

    </div>
  </div>
</section>
