<!DOCTYPE html>
<html>
  <head>
    <title>Rafaequip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body id="page-top" class="index">

	<%= yield %>

    <%= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload' %>

	</body>
</html>
